.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
}
.header__title {
  font-size: 32px;
  font-weight: bold;
}
.header__subtitle {
  font-size: 20px;
}
